<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.smarter.LoveLog">
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name = "android.permission.RECEIVE_SMS" />
    <uses-permission android:name = "android.permission.SEND_SMS" />

    <!--shareSdk所用权限-->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    　<uses-permission android:name="android.permission.SET_WALLPAPER"/>


    <application android:allowBackup="true"
                 android:name=".db.AppContextApplication"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:theme="@style/AppTheme">


        <activity android:name=".activity.SplashActivity"
            android:theme="@style/AppThemeTwo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">

        </activity>
      <!--  android:windowSoftInputMode="stateVisible|adjustResize"-->
            <activity android:name="com.smarter.LoveLog.activity.MainActivity"
                      android:configChanges="orientation|keyboardHidden|screenSize"
                      android:screenOrientation="portrait">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>

            </activity>

           <activity android:name="com.smarter.LoveLog.activity.LoginActivity"
                      android:configChanges="orientation|keyboardHidden|screenSize"
                      android:screenOrientation="portrait">

            </activity>
            <activity android:name="com.smarter.LoveLog.activity.FindPasswordActivity"
                      android:configChanges="orientation|keyboardHidden|screenSize"
                      android:screenOrientation="portrait">

            </activity>
            <activity android:name="com.smarter.LoveLog.activity.QuaiRegitedActivity"
                      android:configChanges="orientation|keyboardHidden|screenSize"
                      android:screenOrientation="portrait">

            </activity>
            <activity android:name="com.smarter.LoveLog.activity.PersonalDataActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="portrait">

            </activity>
            <activity android:name=".activity.ProductDeatilActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="portrait">
            </activity>
            <activity android:name=".activity.InvitationActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="portrait">

            </activity>
            <activity android:name=".activity.InvitationDeatilActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:windowSoftInputMode="adjustPan"
                android:screenOrientation="portrait">

            </activity>
            <activity android:name=".activity.AddressManageActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="portrait">

            </activity>
            <activity android:name=".activity.CreateAddressActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="portrait">

            </activity>
            <activity android:name=".activity.MyOrderFormActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="portrait">

            </activity>
            <activity android:name=".activity.MyRedPacketActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="portrait">

            </activity>
            <activity android:name=".activity.SetActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="portrait">

            </activity>
            <activity android:name=".activity.FeedbackActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="portrait">

            </activity>
            <activity android:name=".activity.SomeAdviceActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="portrait">

            </activity>


        <activity android:name=".activity.InvitationAllPinglunActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.GoodsAllPinglunActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">

        </activity>


        <activity android:name=".activity.HelpDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.HelpDataTwoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.HelpDataThreeWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.ItegralSelfActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.WalletSelfActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.MyCommentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.MyInvitationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.MyNotificationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.MessageCenterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.WebViewUrlActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.ShowWebImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.ShowAnoWebImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">

        </activity>









        <activity android:name=".activity.ConversationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.smarter.LoveLog"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>

        </activity>











        <!--shareSdk下的注册的activity-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent1105000062" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    <!--微信分享回调-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>

</manifest>
